[Unit]
Description=Run MMM-MyScoreboard updater daily for user %i

[Timer]
OnBootSec=2m
OnUnitActiveSec=1d
Unit=myscoreboard-update@%i.service
Persistent=true

[Install]
WantedBy=timers.target
