[Unit]
Description=Run MMM-MyScoreboard updater every 12h for user %i

[Timer]
OnBootSec=4m
OnUnitActiveSec=12h
Unit=myscoreboard-update@%i.service
Persistent=true

[Install]
WantedBy=timers.target
